<!DOCTYPE html>
<html>
<head>
  <title>Info</title>
</head>
<body>
  <h1>Edit song</h1>
  <form action="/songs/<%= @song.id %>" method="post">
    <label for="song_name">Song Name:</label>
    <input name="name" id="song_name" type="text" value="<%= @song.name %>"><br>
    <label for="artist_name">Artist:</label>
    <input name="artist" id="artist_name" type="text" value="<%= @song.artist %>"><br>
    <input type="hidden" name="_method" value="put">

    <input type="submit">
  </form>
  <button type="button">
    <a href="/songs" style="text-decoration:none;">Back</a>
  </button>
</body>
</html>