<!DOCTYPE html>
<html>
<head>
  <title>Show Genre</title>
</head>
<body>
  <p>Genre: <%= @genre.name %></p>
  <p>ID: <%= @genre.id %></p>
  <div>
  <button type="button">
    <a href="/songs" style="text-decoration:none;">All Songs</a>
  </button>
  </div>
</body>
</html>