<!DOCTYPE html>
<html>
<head>
  <title>Genre Info</title>
</head>
<body>
  <h1>Add a genre</h1>
  <form action="/genres" method="post">
    <label for="genre_name">Genre Name:</label>
    <input name="name" id="genre_name" type="text"><br>
    <div>
    <input type="submit">
    </div>
  </form>
  <button type="button">
    <a href="/songs" style="text-decoration:none;">All songs</a>
  </button>
</body>
</html>